{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="menu-page">

    <h1 class="menu-title mt-1 mb-1 text-center">Our Menu</h1>
    <div class="menu-contain col-xs-10 col-sm-10 col-md-6 d-flex">
        <div class="pb-5 menu-block" id="menu-content">
            <h3 class="title-block-menu text-center pt-2 pb-2 mb-0">Choose from our menu below</h3>

            <div class="menu">
                {% for m in menu%}
                <div class="menu-item">
                    <div class="text-left button-padding ml-2">
                        <p><b>{{m.menu_name}}</b></p>
                    </div>
                    <div class="text-right pull-right">
                        <a class="btn btn-light mr-2" href="{% url 'booknow' %}">
                            <span>£{{m.price}}</span></a>
                    </div>

                </div>
                {% endfor%}
            </div>
        </div>
    </div>
</div>

{% endblock %}