body {
    background-color: #eff2f9;
}

.brand {
    font-family: Open Sans, sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: #dbbc09;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #252d35;
}

.main-bg {
    background-color: #eff2fa;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link-color{
    color:#dbbc09;
}

.link {
    color: #dbe2e2;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/*** index page ***/

.card-index {
    width: 90% !important;
    margin-top: 10px !important;
    margin-bottom:10px !important;
}

.card-img-top {
    width: 200px;
    height: 200px;
}

/*** Menu page ***/
.menu-contain {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0.9;
    border: 1px solid #6c757d;
    border-radius: 5px;
}

.menu-block {
    width: 100%;
    margin-top: 5vh;
    padding-bottom: 10px;
}

.title-block-menu {
    background-color: #030405;
    opacity: 0.8;
    color: #fff;
}


.menu {
    color: #000;
}

.menu-item {
    display: inline-block;
    width: 100%;
    padding: 0 2px;
    vertical-align: middle;
    margin: 0 auto;
    height: 4em;
    line-height: 4em;
    border: 1px solid #312E38;
    border-top:0;
}

.text-right,
.text-left {
    display: inline-block;
}

.text-left {
    float: left;
    padding-left:5px;
}

.text-right {
    float: right;
    padding-right:5px;
}

.btn-light {
    border: 1px solid #000;
}

/*** My Bookings page ***/

.card {
    width: 15rem;
    display: inline-block;
    align-items: center;
    margin-bottom: 5px;
}
.card-size {
    width: 240px !important;
    height: 355px !important;
}

.delete-btn {
    color: #1b191f ;
    font-weight: 400;

}

/*** Book_now page ***/
.bookings-title {
    margin-top: 20px;
}
.make-bold{
    font-weight:bold;
}

.booknow-contain {
    margin: 0 auto;
    background-color: #bfbdc3;
    
    border: 1px solid #6c757d;
    border-radius: 5px;

}

.booknow-block {
    font-weight: 500;
    background-color: #312E38;
    opacity: 0.9;
    border: 1px solid #6c757d;
    border-radius: 5px;
}

.booknow-block a {
    color: #FF9000;
}

.p-3{
    color: #000;
    margin-top:20px;
}
.text-color {
    color:#dbe2e2;
}

.color-type {
    color:#dbbc09;
}

/*** Edit booking page  */

.cancel, .btn-success {
    color:#000;
    text-decoration:none;
}
.btn-edit {
    background-color: #188181;
    color: #fff;
}
/*** Delete button  */ 

.btn-delete {
    color: #fff;
    background: #E84610;
}