body {
    background-color: #eff2f9;
}

.brand {
    font-family: Open Sans, sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: #27272d;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #252d35;
}

.main-bg {
    background-color: #eff2fa;
}

/*** Menu page ***/
.menu-contain {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0.9;
    border: 1px solid #6c757d;
    border-radius: 5px;
}

.menu-block {
    width: 100%;
    margin-top: 5vh;
    padding-bottom: 10px;
}

.title-block-menu {
    background-color: #030405;
    opacity: 0.8;
    color: #fff;
}


.menu {
    color: #000;
}

.menu-item {
    display: inline-block;
    width: 100%;
    padding: 0 2px;
    vertical-align: middle;
    margin: 0 auto;
    height: 4em;
    line-height: 4em;
    border: 1px solid #312E38;
    border-top:0;
}

.text-right,
.text-left {
    display: inline-block;
}

.text-left {
    float: left;
    padding-left:5px;
}

.text-right {
    float: right;
    padding-right:5px;
}

.btn-light {
    border: 1px solid #000;
}

/*** My Bookings page ***/

.card {
    width: 15rem;
    display: inline-block;
    align-items: center;
    margin-bottom: 5px;
}

.delete-btn {
    color: #1b191f ;
    font-weight: 400;

}



